--
-- PostgreSQL database dump
--

\restrict zd2BOzhAWSWdn9gKppqZ5N3t0vmyIlREprJILt7u6OkGb0eXfEgQa0fwjfyMBzW

-- Dumped from database version 18.0
-- Dumped by pg_dump version 18.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: logins; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: admins; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.admins (id, login_id, name, email, created_at, updated_at) FROM stdin;
e59312d3-744b-4b02-9e99-1309ac7a4315	c81843fa-6bf6-4836-9e39-8ca4e0c3bbce	admin	admin@mail.com	2025-12-10 17:29:34.952959	2025-12-10 17:29:34.952964
e5afadf2-f76f-4b57-a36f-f0d509da4c6c	d67a0214-e429-4afb-96f4-25a91e2df6af	Gordon	ramsey@mail.com	2025-12-10 17:44:37.656093	2025-12-10 17:44:37.6561
\.


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.alembic_version (version_num) FROM stdin;
ab9138e9b4bb
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (id, login_id, name, email, phone, age, about_me, profile_picture, college_name, created_at, updated_at, is_banned) FROM stdin;
ed190e3f-f360-40e0-bf73-deb7a66be588	5b912e6d-bb8d-4302-aaa5-e79f443610a8	User1	user1@mail.com	\N	\N	\N	\N	\N	2025-12-12 18:46:17.402121	2025-12-12 18:46:17.402131	f
\.


--
-- Data for Name: resume_certifications; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.resume_certifications (id, user_id, resume_path, uploaded_at) FROM stdin;
\.


--
-- Data for Name: certifications; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.certifications (id, user_id, resume_cert_id, certification_name, verification_status, uploaded_at) FROM stdin;
\.


--
-- Data for Name: college; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.college (id, login_id, college_name, email, address, website, logo, description, is_banned, created_at, updated_at) FROM stdin;
413f51dc-04bf-480d-95b5-a6a0a0496590	94ec71e5-85de-4262-9b61-42527f713905	Baselios	mbt@mail.com	dataa:alert(1)	https://mbcet.ac.in/	https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmR9ogf8yBQVqfVuxHeazcAVi97z3p9neexA&s	jaript:alert(	f	2025-12-08 17:10:30.835292	2025-12-09 16:23:18.273909
\.


--
-- Data for Name: companies; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: communications; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.communications (id, user_id, college_id, company_id, message, "timestamp", read_status, hidden) FROM stdin;
\.


--
-- Data for Name: coupons; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.coupons (id, code, faculty_id, year, college_id, created_at) FROM stdin;
2818d07c-4093-4a13-8eee-7d92192f9b4c	M8DV0EC2C0	ABC123	2020	413f51dc-04bf-480d-95b5-a6a0a0496590	2025-12-08 18:47:50.00062
\.


--
-- Data for Name: couponuser; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.couponuser (id, user_id, coupon_id, created_at) FROM stdin;
\.


--
-- Data for Name: jobs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: favorites; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.favorites (id, user_id, job_id, saved_at) FROM stdin;
\.


--
-- Data for Name: job_applications; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.job_applications (id, user_id, job_id, status, resume_path, date_applied, status_updated_at) FROM stdin;
\.


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.notifications (id, user_id, company_id, message, read_status, hidden, "timestamp") FROM stdin;
\.


--
-- PostgreSQL database dump complete
--

\unrestrict zd2BOzhAWSWdn9gKppqZ5N3t0vmyIlREprJILt7u6OkGb0eXfEgQa0fwjfyMBzW

